.bread-crumbs {
    padding: 30px 0 40px;

    .p2 {
        color: var(--stroke);
        font-weight: 400;
    }
}

.services {
    margin-bottom: 90px;

    .services-info {
        display: flex;
        justify-content: space-between;
        padding-bottom: 40px;
        gap: 5px;

        .services-img {
            max-width: 480px;
            width: 100%;

            img {
                border-radius: 10px;
                width: 100%;
            }
        }

        .services-txt {
            position: relative;
            padding: 40px;
            max-width: 1020px;
            width: 100%;
            height: 480px;
            background-color: var(--lightgray);
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            gap: 25px;

            ul {
                padding-left: 20px;
            }
        }

        .butn {
            position: absolute;
            top: 377.5px;
            left: 787px;
            max-width: 193px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 21px;
            background-color: transparent;
            color: var(--primary);
            font-size: 20px;
            font-weight: 500;
            transition: all 0.3s ease-in;
            cursor: pointer;

            .arrow {
                width: 62px;
                height: 62px;
                background: transparent;
                border: 2px solid var(--primary);
                padding: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-shrink: 0;

                svg {
                    width: 20px;
                    height: 20px;
                    object-fit: contain;
                    transition: all 0.3s ease-in;
                }
            }


        }

        &:hover {
            .arrow {
                background-color: var(--primary);

                svg {
                    transform: rotate(85deg);

                    path {
                        fill: var(--white);
                    }
                }
            }
        }

        &.row {
            flex-direction: row-reverse;

            .services-txt {
                background-color: var(--primary);
                color: var(--white);
            }

            .butn {
                color: var(--white);

                .arrow {
                    border: 2px solid var(--white);

                    svg {
                        path {
                            fill: var(--white);
                        }
                    }
                }
            }

            &:hover {
                .arrow {
                    background-color: var(--white);

                    svg {
                        transform: rotate(85deg);

                        path {
                            fill: var(--primary);
                        }
                    }
                }
            }
        }

    }
}